{% if participating_orgs_table_rows %}
 <div class="block block-participating-orgs">
  <div class="block-title">Mentoring Organizations</div>
  <div class="block-content">
   <table class="participating-orgs-table">
    {% for row in participating_orgs_table_rows %}
     <tr>
      {% for org in row %}
       <td>
        <a href="{{ org.link }}"><img src="{{ org.logo }}" alt="{{ org.name }} logo" title="{{ org.name }}"/></a>
       </td>
      {% endfor %}
     </tr>
    {% endfor %}
   </table>
  </div>
  <div class="block-footer">
    <span class="left-side"><a href="{{ org_list_url }}">{% if all_participating_orgs %}Mentoring organization details{% else %}See all mentoring organizations{% endif %}</a></span>
    {% if register_url %}
    <span class="right-side"><a href="{{ url }}">Register as a mentor</a></span>
    {% endif %}
  </div>
 </div>
{% endif %}
<!-- end .block.block-home-participating-orgs -->
