/*,cover
/.coverage
/.installed.cfg
/.nfs*
/.project
/.pydevproject
/.ropeproject
/.settings
/app/apiclient/
/app/app.yaml
/app/httplib2/
/app/oauth2client/
/app/tiny_mce.zip
/app/uritemplate/
/app/soc/content/css/gci/*.css
/app/soc/content/css/gsoc/*.css
/app/soc/content/css/soc/*.css
/bin/
/build/
/develop-eggs/
/eggs/
/node_modules/
/overrides/
/parts/
/reports/
/scripts/.appengine_auth
/thirdparty/closure
/thirdparty/google_appengine
/venv/
*.pyc
*.zip
*~
*.orig
*.swp
*.egg-info
.DS_Store*
\#*\#
.\#*
