[epydoc]

name: Melange Project
url: http://code.google.com/p/soc/

modules: app/codein, app/melange, app/soc, app/summerofcode

# TODO(nathaniel): It is an epydoc defect that epydoc cannot
# analyze these modules. Produce a reduced reproduction case
# and report it.
exclude_introspect: soc.modules.gci.models
