{% for group, fields in form %}
  <fieldset
  {% if form.instance.status %}
    >
    <legend id="form-slot-transfer-title"
      {% if form.instance.status == "rejected" %}
        class="rejected"
      {% else %}{% if form.instance.status == "accepted" %}
        class="accepted"
      {% endif %}{% endif %}>
        <strong>Status: </strong> {{ form.instance.status|capfirst }}
    </legend>
  {% else %}
    class="nolegend">
  {% endif %}
    {% for field in fields %}
      <div id="form_row_{{ field.name }}" class="row {{ field.div_class }}">
        {{ field.render }}
      </div>
    {% endfor %}
  </fieldset>
{% endfor %}
