<div id="page-header">
  <div class="container_12">
    <div class="grid_12">
      {% if logout_link %}
      <div id="logged-in" class="top">
        <span>You are logged in as <strong>{{ user_email }}</strong> <a href="{{ logout_link }}">(not you?)</a></span>
      </div>
      {% endif %}
      <div id="gci" class="top">
        <a href="{{ gci_link }}">Looking for Google Code-in? Click here!</a>
      </div>
      <a href="{{ home_link }}"><img src="/soc/content/{{ app_version }}/images/gsoc/logo/banner-{{ program_link_id }}.png" width="924" height="156" alt="Google Summer of Code" /></a>
    </div>
  </div>
</div>
<!-- .page-header -->
