@import "common.less";

/*////////////////

  Iconic Dashboard

////////////////*/

// Images locations
@image_block_form_bg: "@{images_gci_location}/block-form-bg.png";

@images_dashboard_location: "@{images_soc_location}/dashboard";

@image_accept_proposals: "@{images_dashboard_location}/accept_proposals.png";
@image_allocate: "@{images_dashboard_location}/allocate.png";
@image_create: "@{images_dashboard_location}/create.png";
@image_date: "@{images_dashboard_location}/date.png";
@image_duplicates: "@{images_dashboard_location}/duplicates.png";
@image_edit: "@{images_dashboard_location}/edit.png";
@image_grade: "@{images_dashboard_location}/grade.png";
@image_lookup: "@{images_dashboard_location}/lookup.png";
@image_mail: "@{images_dashboard_location}/mail.png";
@image_marker: "@{images_dashboard_location}/marker.png";
@image_proposals: "@{images_dashboard_location}/proposals.png";
@image_report: "@{images_dashboard_location}/report.png";
@image_requests: "@{images_dashboard_location}/requests.png";
@image_settings: "@{images_dashboard_location}/settings.png";
@image_todo: "@{images_dashboard_location}/todo.png";
@image_transfer: "@{images_dashboard_location}/transfer.png";
@image_users: "@{images_dashboard_location}/users.png";
@image_view: "@{images_dashboard_location}/view.png";
@image_withdraw: "@{images_dashboard_location}/withdraw.png";

.dashboard {
  min-height: 500px;

  &.disabled {
    /* disabled dashboard */
    display: none;
  }
}

.dashboard-head {
  /* dashboard head or title */
  border-top: 1px solid #E0E0E0;
  color: #238BD2;
  font-size:1em;
  font-weight:bold;
  line-height:1.7em;
  margin-bottom:0;
  margin-top:1.2em;

  span {
    background-color: #FFF;
    color: #238BD2;
    left: 0;
    padding-right: 0.4em;
    position: relative;
    top: -0.8em;

    a {
      text-decoration: underline;
    }
  }
}

.block-dashboard {
  /* admin dashboard container */
  background: #e0e0e0 url(@image_block_form_bg) 0 0 repeat-x;
  border: 1px solid #b4b4b4;
  box-shadow: 0 4px 18px #C8C8C8;
  display: inline-block;
  width: 100%;

  .column {
    /* column for admin dashboard that take half block-dashboard */
    float: right;
    width: 50%;

    &.first {
      /* first column */
      float: left;
      width: 50%;
    }

    .column-entry {
      /* entry inside column that hold iconic information */
      background-position: 4px 4px;
      background-repeat: no-repeat;
      margin: 1.3em 0;
      padding: 2px 4px 2px 34px;

      &:hover {
        background-color: #E0F1FC;
      }

      div,
      h4,
      p {
        padding-left: 10px;
      }
    }
  }

  .block-content {
    /* content inside the dashboard */
    padding-left: 15px;
  }

  .block-text h4 {
    background: #E0E0E0;
    color: #333;
    font-size: 15px;
    line-height: 30px;
    padding-left: 15px;
    text-shadow: 1px 1px 2px #fff;
    text-transform: uppercase;
  }

}

.main {
  .column-entry {
    h4 {
      /* title for column-entry */
      background: transparent;
      font-size: 110%;
      font-weight: bold;
      line-height: normal;
      padding: 0 0 0 10px;
      text-transform: none;
    }

    p {
      /* description of column-entry */
      margin-bottom: 0;
    }

    div {
      /* container for column-entry's sublinks */
      color: #999;
      font-size: 10px;
    }
  }
}

.column-entry {
  .notificon {
    /* notify icon */
    background-color: #F03D25;
    border-color: -moz-use-text-color #DD3822 #DD3822;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #DD3822;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    padding: 2px 2px 0;
  }

  &.lookup_profile {
    /* icons entry */
    background-image: url(@image_lookup);
  }

  &.allocate_slots,
  &.slots_allocation
  {
    background-image: url(@image_allocate);
  }

  &.slots_transfer,
  &.bulk_create_tasks
  {
    background-image: url(@image_transfer);
  }

  &.duplicates {
    background-image: url(@image_duplicates);
  }

  &.proposals_submitted,
  &.manage_proposals,
  &.proposals {
    background-image: url(@image_proposals);
  }

  &.accept_proposals,
  &.manage_projects
  {
    background-image: url(@image_accept_proposals);
  }

  &.withdraw_projects {
    background-image: url(@image_withdraw);
  }

  &.reminder_emails {
    background-image: url(@image_mail);
  }

  &.program_settings,
  &.edit_program
  {
    background-image: url(@image_settings);
  }

  &.edit_timeline {
    background-image: url(@image_date);
  }

  &.adminning_organizations,
  &.participants,
  &.students,
  &.manage_organizations
  {
    background-image: url(@image_users);
  }

  &.participant_locations {
    background-image: url(@image_marker);
  }

  &.report_statistic {
    background-image: url(@image_report);
  }

  &.todo,
  &.documents,
  &.evaluations,
  &.mentor_evaluations,
  &.student_evaluations,
  &.org_app,
  &.take_org_app,
  &.edit_org_app,
  &.org_app_records,
  &.create_tasks,
  &.edit_org_profile
  {
    background-image: url(@image_todo);
  }

  &.evaluation_group
  {
    background-image: url(@image_grade);
  }

  &.create_mentor_evaluation,
  &.create_student_evaluation,
  &.create_evaluation_group
  {
    background-image: url(@image_create);
  }

  &.edit_mentor_evaluation,
  &.edit_student_evaluation,
  &.edit_evaluation_group
  {
    background-image: url(@image_edit);
  }

  &.view_mentor_evaluation,
  &.view_student_evaluation,
  &.view_evaluation_group,
  &.all_org_tasks,
  &.all_orgs_mentors,
  &.list_invites,
  &.list_org_invites
  {
    background-image: url(@image_view);
  }

  &.requests,
  &.invite_mentor,
  &.invite_org_admin
  {
    background-image: url(@image_requests);
  }
}
