.ui-jqgrid a.listsnoul {
  /* No underline for <a> elements inside lists */
  text-decoration: none;
}

.alternate_row {
  background: #F4F4F4;
}

table {
  &.ui-jqgrid-btable {
    height: 1px;

    tr.jqgfirstrow td {
      border: none;
    }
  }
}
