.block-leaderboard-top {
  background: none;
}
  .block-leaderboard-top .block-leaderboard-top-title {
    background: #0082c8;
      border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
      -webkit-border-radius: 10px 10px 0 0;
    height: 102px;
    padding: 0 22px;
    position: relative;
  }
    .block-leaderboard-top .block-leaderboard-top-title h1 {
      color: #fff;
      font-family: 'Oswald', sans-serif;
      font-size: 42px;
      font-weight: normal;
      line-height: 102px;
      text-transform: uppercase;
    }
    .block-leaderboard-top .block-leaderboard-top-title h1 .leaderboard-title-left {
      float: left;
    }
    .block-leaderboard-top .block-leaderboard-top-title h1 .leaderboard-title-right {
      float: right;
    }
    .block-leaderboard-top .block-leaderboard-top-title .trophy {
      background:url(@image_block_leaderboard_top_trophy) 0 0 no-repeat;
      height: 160px;
      width: 500px;
      position: absolute;
      left: 88px;
      top: -57px;
    }

  .block-leaderboard-top .block-leaderboard-top-content {
    background: #d0e8f9 url(@image_block_leaderboard_content_bg) 0 0 repeat-x;
    border-left: 1px solid #cae2f2;
    border-right: 1px solid #cae2f2;
    border-bottom: 1px solid #98a9b6;
    padding: 25px 35px 10px 39px;
  }
    .block-leaderboard-top .block-leaderboard-top-content p {

    }
.block-leaderboard-scores {/*Generic leaderboard scores*/
  border-bottom: 1px solid #a6a6a6;
}
  .block-leaderboard-scores table {
    margin: 0;
    text-align: left;
    width: 100%;
  }
  .block-leaderboard-top-scores table tr {
    display: block;
  }
  .block-leaderboard-top-scores table td {
    vertical-align: middle;
  }
.block-leaderboard-top-scores {/*Leaderboard top scores*/
}
  .block-leaderboard-top-scores .block-title {
    background: #c94837;
  }
  .block-leaderboard-top-scores .block-content {
    background: #e3e3e3;
    padding-left: 12px;
    padding-right: 5px;
  }
  .block-leaderboard-top-scores table {
    color: #000;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
  }
  .block-leaderboard-top-scores table tr {
    padding-bottom: 3px;
  }
  .block-leaderboard-top-scores .leaderboard-top-ranking-number {
    color: #c94837;
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    font-weight: normal;
    width: 24px;
  }
  .block-leaderboard-top-scores .leaderboard-top-color-block {
    background: #000;
    height: 39px;
    width: 39px;
  }
    .block-leaderboard-top-scores .leaderboard-top-color-block img {
      background: #3366cc;
      height: 39px;
      width: 39px;
    }
    .block-leaderboard-top-scores .leaderboard-top-color-block.blue {
      background: #3366cc;
    }
    .block-leaderboard-top-scores .leaderboard-top-color-block.orange {
      background: #ff9900;
    }
    .block-leaderboard-top-scores .leaderboard-top-color-block.green {
      background: #669966;
    }
    .block-leaderboard-top-scores .leaderboard-top-color-block.brown {
      background: #663300;
    }
    .block-leaderboard-top-scores .leaderboard-top-color-block.purple {
      background: #9966cc;
    }
    .block-leaderboard-top-scores .leaderboard-top-color-block.mauve {
      background: #cc9999;
    }
    .block-leaderboard-top-scores .leaderboard-top-color-block.sky-blue {
      background: #66ccff;
    }
    .block-leaderboard-top-scores .leaderboard-top-color-block.light-green {
      background: #99cc66;
    }
    .block-leaderboard-top-scores .leaderboard-top-color-block.salmon {
      background: #ff9966;
    }
    .block-leaderboard-top-scores .leaderboard-top-color-block.red {
      background: #cc3333;
    }
  .block-leaderboard-top-scores .leaderboard-top-name {
    font-size: 16px;
    padding-left: 8px;
    width: 200px;
  }
    .block-leaderboard-top-scores .leaderboard-top-name a {

    }
  .block-leaderboard-top-scores .leaderboard-top-points,
  .block-leaderboard-top-scores .leaderboard-top-tasks {
    padding-left: 8px;
  }
  .block-leaderboard-top-scores .leaderboard-top-points {
    width: 90px;
  }
  .block-leaderboard-top-scores .leaderboard-top-tasks {
    width: 70px;
  }
  .block-leaderboard-top-organization .leaderboard-top-organization {
    width: 90px;
  }
.block-leaderboard-all-scores {/*Leaderboard all scores*/

}
  .block-leaderboard-all-scores .block-content {
    padding: 9px 9px 0 9px;
  }
  .block-leaderboard-all-scores table {
    font-size: 13px;
  }
  .block-leaderboard-all-scores table tr {
    background: #fff;
    display: block;
    padding: 2px 5px 2px 10px;
  }
  .block-leaderboard-all-scores table tr.even {
    background: #eee;
  }
  .block-leaderboard-all-scores .leaderboard-all-number,
  .block-leaderboard-all-scores .leaderboard-all-name {
    font-weight: bold;
  }
  .block-leaderboard-all-scores .leaderboard-all-number {
    color: #c94837;
    width: 24px;
  }
  .block-leaderboard-all-scores .leaderboard-all-name {
    width: 138px;
  }
  .block-leaderboard-all-scores .leaderboard-all-points {
    padding-left: 5px;
    width: 102px;
  }
  .block-leaderboard-all-scores .block-pager {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0;
  }
.block-leaderboard-your-score {/*Your score*/

}
  .block-leaderboard-your-score .user-ranking {
    margin: 12px 0 0 18px;
  }
  .block-leaderboard-your-score .btn {
    margin-top: 15px;
    margin-left: 13px;
  }

/* @group previous-leaderboards */
.block-leaderboard-previous-leaderboards .block-title {
  background: #c94837;
}
.block-leaderboard-previous-leaderboards .block-content {
  background: #E3E3E3;
  text-align: center;
  padding: 10px;
}
/* @end */
