<div class="block-comments clearfix">
  <span class="block-comments-title">Comments</span>

  {% if profile %}
    <a href="javascript:void(0)" class="task-btn task-btn-comment-new">Post new comment</a>
    <div class="block-comments-post-new">
      <span class="block-comments-post-new-title">Post new comment</span>
      <form action="#" method="post" class="form-comment-post-new clearfix">
        {{ comment_form.render }}
        <div class="form-row form-row-buttons">
          <input value="Submit" class="button" type="submit">
        </div>
      </form>
    </div>
    <!--end .block-comments-post-new-->
  {% else %}
    {% comment %} Show registration link for students and mentors {% endcomment %}
  {% endif %}

  {% for comment in comments %}
    <div class="single-comment">

      <span class="single-comment-title">{{ comment.title|default:"No Title" }}</span>
      <span class="single-comment-meta">by <a href="javascript:void(0)">{{ comment.created_by.name }}</a> {{ comment.created_on|date:"F j Y H:i"}} UTC</span>

      {{ comment.content|safe }}

      <a href="javascript:void(0)" class="task-btn task-btn-comment-reply">Reply</a>
      <div class="single-comment-reply">
        <span class="single-comment-reply-title">Reply</span>
        <form action="#" method="post" class="form-comment-reply clearfix">
          {{ comment_form.render }}
          <div class="form-row form-row-buttons">
            <input value="Submit" class="button" type="submit">
          </div>
        </form>
      </div>
      <!--end .single-comment-reply-->
    </div>
    <!-- end .single-comment -->
  {% empty %}
    <div class="single-comment">
      <span class="single-comment-title">No comments yet</span>
    </div>
  {% endfor %}
</div>
<!-- end .block-comments -->
