{% if participating_orgs_table_rows %}
 <div class="block block-participating-orgs">
  <div class="block-title">Participating Organizations</div>
  <div class="block-content">
   <table class="participating-orgs-table">
    {% for row in participating_orgs_table_rows %}
     <tr>
      {% for org in row %}
       <td>
        <a href="{{ org.link }}"><img src="{{ org.logo }}" alt="{{ org.name }} logo" title="{{ org.name }}"/></a>
       </td>
      {% endfor %}
     </tr>
    {% endfor %}
   </table>
  </div>
  <div class="block-footer"></div>
 </div>
{% endif %}
<!-- end .block.block-home-participating-orgs -->
